@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.loading-page {
  z-index: 3;

  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  /*color: #ff1717;*/
}

#svg {
  height: 150px;
  width: 150px;
  stroke: #000000;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 45000;
  }
  100% {
    stroke-dashoffset: 0;
    & .name-container-loading,.logo-name-loading{
      display: none;
    }
  }
}

.name-container-loading {
  height: 40px;
  overflow: hidden;
}

.logo-name-loading {
  color: #000000;
  font-size: 30px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}
